@charset "UTF-8";

.error-input {
  border-color: #ff0000;
  background-color: #ff0000;
  margin-left: 5px;
}

.error-messages {
  color: #ff0000;
}

.pagination-container {
  text-align: center; /* 親要素を中央揃えにする */
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #f1f1f1;
}

.pagination a:hover:not(.active) {background-color: #ddd;}